* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/18705217_v1016-a-08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  flex-direction: column;
}

nav {
  background-color: #155f9b;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800; /* Ajustado o valor para uma fonte mais negrita */
  line-height: normal;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; /* Garante que padding não aumente a largura */
  text-align: left;
}

/* Estilo para o Formulário de Login e Cadastro */

.card {
  background-color: #ffffff;
  color: #155f9b;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.card-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-content-area {
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px;
}

.card-content-area i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #155f9b;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin-top: 10px;
}

.recuperar_senha {
  text-decoration: none;
  color: #155f9b;
  margin-top: 10px;
}

header {
  background-color: #155f9b;
  color: #fff;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 10%;
}

.logo {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 60px;
  height: 40px;
}

header h1 {
  margin-top: 0.5%;
  margin-left: 1.5%;
  font-size: 18px;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}

.login-container h1 {
  font-size: xx-large;
  color: #155f9b;
}


input[ type="text"],
input[type="password"],
input [type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group img {
  width: 24px;
  margin-right: 10px;
}

.submit {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Estilo para o Formulário de Inserção */
form {
  background-color: #ffffff;
  color: #155f9b;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 500px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  overflow-y: auto; 
  max-height: 80vh; 
}

h2 {
  color: #155f9b;
  margin-top: 0;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #0070bb;
}

form textarea,
input[type="date"],
select,
form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}

select {
  margin-bottom: 24px;
}

#container_datas {
  margin-bottom: 16px;
}

form textarea {
  height: 100px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: #155f9b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

form input[type="submit"]:hover {
  background-color: #0e3a5e;
}

/* Estilo para a barra de rolagem vertical */
form::-webkit-scrollbar {
  width: 3px;
}

form::-webkit-scrollbar-thumb {
  background-color: #155f9b;
  border-radius: 10px;
}

/* Estilo para o Listar.php */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Define a altura total do container como 100% da altura da tela */
}

.header {
  background-color: #155f9b;
  color: white;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  height: 20%; /* Define a altura da parte superior como 20% da altura total */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-menu {
  font-size: 18px;
}

.right-menu {
  display: flex;
}

button {
  background-color: #fff;
  color: #155f9b;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  color: #155f9b;
}

.content {
  flex: 1; /* A parte inferior ocupará o restante do espaço disponível */
  background-color: #fff;
  padding: 20px;
}

.registro-table, .visualizar-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.registro-table th,
.registro-table td,
.visualizar-container th,
.visualizar-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.registro-table th {
  background-color: #155f9b;
  color: white;
}

.registro-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* Estilo para a tabela de datas */


.button-voltar a {
  display: inline-block;
  background-color: #155f9b;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button-voltar {
  margin-right: 5px;
}

.visualizar-container {
  width: 100vh ;
}

@media only screen and (max-width: 768px) {
  /* Modificações para telas menores que 768px */

  body {
    /* Ajusta o espaçamento do conteúdo principal */
    padding-top: 70px;
  }

  nav {
    /* Ajusta o posicionamento e o dimensionamento do nav */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o nav esteja acima de outros elementos */
  }
  .container {
    margin-top: 60px; /* Adiciona margem superior para evitar que o container se sobreponha ao nav */
  }
 
  .card {
    /* Ajusta o tamanho do cartão */
    width: 90%;
    padding: 15px;
  }

  .card-header {
    /* Ajusta o tamanho do texto no cabeçalho do cartão */
    font-size: 20px;
  }

  .card-content-area {
    /* Ajusta o espaçamento do conteúdo do cartão */
    padding-left: 25px;
  }

  .card-content-area i {
    /* Ajusta o tamanho do ícone nos campos de entrada */
    font-size: 20px;
  }

  form {
    /* Ajusta o tamanho do formulário */
    max-width: 90%;
    padding: 15px;
  }

  form h1 {
    /* Ajusta o tamanho do texto no cabeçalho do formulário */
    font-size: 24px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    /* Ajusta o tamanho dos campos de entrada */
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
  }

  .submit {
    /* Ajusta o tamanho do botão de envio */
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 12px;
  }

  /* Outras modificações para tornar os elementos mais responsivos */
}