
body {
    background-image: url('./img/18705217_v1016-a-08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow: hidden;
}

nav {
    background-color: #155F9B;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 80;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}
  
  
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    background-color: #ffffff;
    color: #155F9B;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.card-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-content-area {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 35px;
}

.card-content-area i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #155F9B;
}

input[type="submit"] {
    background-color: #155F9B;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
}

.recuperar_senha {
    text-decoration: none;
    color: #155F9B;
    margin-top: 10px;
}

